body{
    background-color: black;
    color: white;
}

.zse-container{
    display: grid;
    grid-template-columns: 150px 150px;
    row-gap: 10px;
    column-gap: 10px;
}

.zse-kwadrat{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#green{
    background-color: green;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

.game-over{
    
}